http {
    upstream flask_servers {
        server 192.168.33.20:5000;
        server 192.168.33.20:5001;
    }

    server {
        listen 80;
        server_name 192.168.33.30;

        location / {
            proxy_pass http://flask_servers;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }
}